@media(max-width: 450px)
{


    header {
        background-color: rgba(124, 42, 21, 0.8)!important;
        
        
    }

  

    .logo {

        
        color: white!important;
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 1px;
        padding-left: 10px;
        
    }

    header nav {
        margin: 0;
        padding: 0!important;
        
        
    }





   header nav  .navbar-nav{
       /* background-color: rgba(26, 30, 45, 0.8); */
       width: 60%;
        height: 35vh;
       right: 0;
       border-radius: 0px 0px 0px 12px;

       
      
       
   }

   #navbarSupportedContent a {
       transition: none;
   }


   #navbarSupportedContent a:hover
   {    
     /* box-shadow: inset 0px -2px 0px 0px #7c2a15; */
     text-decoration: underline #7c2a15;
     box-shadow: none;
     transition: none;
   }
   

   
   .contacto-nav .row {
    text-align: end;
    /* background-color: rgba(124, 42, 21, 0.8)!important; */

    padding: 10px;
    border-bottom: 2px solid rgba(124, 42, 21, 0.9);
    
    /* border-style: 2px 0px solid rgba(124, 42, 21, 0.9); */
    
   }

   .contacto-nav p {
       font-size: 0.7rem;
       margin: auto;
       color: white;
       

    font-family:  'Rubik', sans-serif;
    
   }


   #navbarSupportedContent {
    background-color: rgba(26, 30, 45, 0.9);
    
    font-family: 'Rubik', sans-serif;
    /* border-radius: 360px 0px 0px 360px; */
    
    
   }

   #navbarSupportedContent a {
  
    padding-right: 10px;
        color: #e89128;
        margin-left: 0;

    
    
   }





    /* Primera Seccion */
    
    .primera-seccion {
        height: auto;
        background: url(../img/fondo/heroMobile.jpg)center center;
        background-size: cover;
    }

    .primera-seccion .logo-img {
        display: block;
    }

    .carrusel {
        display: none!important;
    }

    .boton button {
        font-weight: 700;
        font-size: x-large;
        margin-top:auto;

    }

    /* Segunda Seccion */

    .segunda-seccion {
        text-align: center;
        margin: auto;
    }

    .segunda-seccion p{
        font-size: 1.5rem;
    }
    .segunda-seccion .logo-img {
        width: 120px;
        margin: 2rem auto;
    }

    /* Tercera Seccion */


    .ocultar {
        display: none;
    }

    .tercera-seccion .carrusel-productos  {
        height: 150px;
        margin-bottom: 100px!important;
        text-align: center;
        /* padding-bottom: 300px!important; */
     
    }

.marcaLoogo {
    width: 150px;
    /* margin: 0; */
    /* padding: 0; */
}


    /* Cuarta Seccion */

    .cuarta-seccion p{
        text-align: start;
        padding-left: 15px;
        box-shadow: inset 3px 0px 0px 0px #e89128!important;

    }

    .cuarta-seccion .boton2  button{
        margin: none;
        text-align: start;
        padding-right: 0px!important;
        
    }


    /* Quinta Seccion */

    .quinta-seccion {
        overflow: hidden;
    }
    .fondo-degradado3  {
        padding: 0px!important;

    }

    .quinta  p{
        /* padding: 10px 10px 0px 10!important; */
        margin: 0px 15px;
        padding-top: 25px ;
        text-align: start;
        font-size: 1.4rem;
        line-height: 100%;
        /* font-weight: 700; */
    }
    .quinta h2 {
        color: white;
    }

    .caja {
        
        width: 100%;
        margin-top: 50px;
        
    }


    .quinta-seccion h3 {
        text-align: start;
        font-size: 1.5rem;
    }

    .quinta-seccion .pie p {
        text-align: start;
        font-size: 1.3rem;
        font-weight: 400;
    }

    .quinta-seccion .pie .mapa {
        margin: 10px 0px!important;
        width: 100%;
        padding: auto 0px   ;
    }


    .quinta-seccion .pie .contactoResp {
        padding: 0px!important;
        padding-left: 20px!important;
    }

    #comunicate {
        font-size: 1.4rem;
    }
    .pie .row .estamos p {
        font-size: 1.2rem;
    }

}


@media(max-width: 1000px) {
    .ocultar {
        display: none!important;
        
    }
    
}