@media(max-width: 450px)
{

   

    header {
        background-color: rgba(124, 42, 21, 0.8)!important;
        
        
    }

  

    .logo {
        color: white!important;
        font-weight: 600;
        font-size: x-large;
        letter-spacing: 1px;
        
    }

  
    .hamburguesa li a {
        color: #e89128!important;
    }

    
    .primera-seccion {
        height: auto;
        background: url(../img/fondo/heroMobile.jpg)center center;
        background-size: cover;
    }

    .primera-seccion .logo-img {
        display: block;
    }

    .carrusel {
        display: none!important;
    }

    .boton button {
        font-weight: 700;
        font-size: x-large;
        margin-top:auto;

    }

    /* Segunda Seccion */

    .segunda-seccion {
        text-align: center;
        margin: auto;
    }

    .segunda-seccion p{
        font-size: 1.5rem;
    }
    .segunda-seccion .logo-img {
        width: 120px;
        margin: 2rem auto;
    }

    /* Tercera Seccion */


    .ocultar {
        display: none;
    }

    .tercera-seccion .carrusel-productos  {
        height: 150px;
        margin-bottom: 100px!important;
        text-align: center;
        /* padding-bottom: 300px!important; */
     
    }

.marcaLoogo {
    width: 150px;
    /* margin: 0; */
    /* padding: 0; */
}


    /* Cuarta Seccion */

    .cuarta-seccion p{
        text-align: start;
        padding-left: 15px;
        box-shadow: inset 3px 0px 0px 0px #e89128!important;

    }

    .cuarta-seccion .boton2  button{
        margin: none;
        text-align: none;
        
    }


    /* Quinta Seccion */

    .fondo-degradado3  {
        padding: 0px!important;
    }

    .quinta  p{
        /* padding: 10px 10px 0px 10!important; */
        margin: 0px 15px;
        padding-top: 25px ;
        text-align: start;
        font-size: 1.4rem;
        line-height: 100%;
        /* font-weight: 700; */
    }
    .quinta h2 {
        color: white;
    }

    .caja {
        width: 100%;
        margin-top: 50px;
        
    }


    .quinta-seccion h3 {
        text-align: start;
        font-size: 1.5rem;
    }

    .quinta-seccion .pie p {
        text-align: start;
        font-size: 1.3rem;
        font-weight: 400;
    }

    .quinta-seccion .pie .mapa {
        margin: 10px 0px!important;
        width: 100%;
        padding: auto 0px   ;
    }


    .quinta-seccion .pie .contactoResp {
        padding: 0px!important;
        padding-left: 20px!important;
    }
}


@media(max-width: 1000px) {
    .ocultar {
        display: none!important;
        
    }
    
}